################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Code/v17/.wsuo
/AzureMVC/.vs/AzureMVC/config/applicationhost.config
*.vsidx
/AzureMVC/AzureMVC/obj/Debug/AzureMVC.csproj.AssemblyReference.cache
/AzureMVC/AzureMVC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.json
/AzureMVC/AzureMVC/bin/AzureMVC.dll
*.CopyComplete
/AzureMVC/AzureMVC/obj/Debug/AzureMVC.csproj.CoreCompileInputs.cache
/AzureMVC/AzureMVC/obj/Debug/AzureMVC.csproj.FileListAbsolute.txt
/AzureMVC/AzureMVC/obj/Debug/AzureMVC.dll
/AzureMVC/packages/Microsoft.VisualStudio.Azure.Containers.Tools.Targets.1.19.5/build
/AzureMVC/packages/Microsoft.VisualStudio.Azure.Containers.Tools.Targets.1.19.5/tools/cs
/AzureMVC/packages/Microsoft.VisualStudio.Azure.Containers.Tools.Targets.1.19.5/tools/de
/AzureMVC/packages/Microsoft.VisualStudio.Azure.Containers.Tools.Targets.1.19.5/tools
/AzureMVC/AzureMVC/obj/Debug/AzureMVC.pdb
/AzureMVC/AzureMVC/bin/AzureMVC.pdb
/AzureMVC/AzureMVC/packages.config
/AzureMVC/AzureMVC/AzureMVC.csproj
/AzureMVC/AzureMVC/AzureMVC.csproj.user
/AzureMVC/AzureMVC/obj/Debug/AzureMVC.csproj.CoreCompileInputs.cache
/AzureMVC/AzureMVC/obj/Debug/AzureMVC.csproj.FileListAbsolute.txt
/AzureMVC/AzureMVC/bin/AzureMVC.dll
/AzureMVC/AzureMVC/bin/AzureMVC.pdb
/AzureMVC/AzureMVC/obj/Debug/AzureMVC.dll
/AzureMVC/AzureMVC/obj/Debug/AzureMVC.pdb
/AzureMVC/AzureMVC/AzureMVC.csproj
/AzureMVC/AzureMVC/AzureMVC.csproj.user
/AzureMVC/AzureMVC/packages.config
/AzureMVC/packages/Microsoft.VisualStudio.Azure.Containers.Tools.Targets.1.19.5/.signature.p7s
/AzureMVC/packages/Microsoft.VisualStudio.Azure.Containers.Tools.Targets.1.19.5/CHANGELOG.md
/AzureMVC/packages/Microsoft.VisualStudio.Azure.Containers.Tools.Targets.1.19.5/Microsoft.VisualStudio.Azure.Containers.Tools.Targets.1.19.5.nupkg
/AzureMVC/packages/Microsoft.VisualStudio.Azure.Containers.Tools.Targets.1.19.5/ThirdPartyNotices.txt
/AzureMVC/packages/Microsoft.VisualStudio.Azure.Containers.Tools.Targets.1.19.5/EULA.md
